<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <style>
         @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');
        .home{
            height: 100%;
            width: calc(100% - 250px);
            position: absolute;
            left: 250px;
            background: var(--body-color);
            transition: var(--tran-05);
        }

        .sidebar.close ~ .home{
            left: 88px;
            width: calc(100% - 88px);
        }

        .home .text{
            font-size: 30px;
            font-weight: 500;
            color: var(--text-color);
            padding: 8px 40px;
        }
        .dashboard{
            position: relative;
            height: 100%;
            width: calc(100% - 250px);
            left: 250px;
            transition: var(--tran-05);
            z-index: 2;
        }
        .sidebar.close ~ .dashboard{
            left: 88px;
            width: calc(100% - 88px);
        }
        .dashboard .box-detail{
            padding: 90px 30px;
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            position: relative;
        }
        .dashboard .box-detail .box{
            background: var(--slidebar-color);
            height: 120px;
            max-width: 230px;
            width: 100%;
            margin: 30px;
            display: flex;
            border: 1px solid var(--slidebar-color);
            border-radius: 6px;
            justify-content: center;
            transition: 1s;
        }
        .dashboard .box-detail .box:hover{
            box-shadow: 0 0px 4px var(--text-color),0 0px 8px var(--text-color),0 0px 16px var(--text-color);
        }
        .dashboard .box-detail .box ion-icon{
            font-size: 60px;
            position: relative;
            left: 0;
            padding-top: 30px;
            padding-right: 20px;
        }
        .dashboard .box-detail .box .text{
            font-size: 25px;
            font-weight: 500;
            position: relative;
            padding-top: 20px;
            color: var(--text-color);
            font-family: "Poppins",sans-serif;
        }
        .dashboard .box-detail .box .Approve{
            color: #3cdc8f;
        }
        .dashboard .box-detail .box .Pending{
            color: #f5ab55;
        }
        .dashboard .box-detail .box .Reject{
            color: #fd5a5c;
        }
        .dashboard .box-detail .box .Total{
            color: #11cbcc;
        }
        .dashboard .box-detail .box .number{
            font-size: 35px;
            position: relative;
            padding-left: 35px;
        }
        .dashboard .box-detail .box .totalnumber{
            font-size: 35px;
            position: relative;
            padding-left: 20px;
        }
        .table{
            position: relative;
            max-height: 100%;
            max-width: calc(100% - 350px);
            left: 150px;
            transition: var(--tran-05);
            z-index: 2;
            margin-bottom: 40px;
            display: flex;
            justify-content: center;
            padding: 0.2rem;
            background:var(--slidebar-color);
            font-family: "Poppins",sans-serif;
            -webkit-font-smoothing:antialiased;
            text-rendering: optimizeLegibility;
            color: var(--text-color);
            border-radius: 6px;
            width: 100%;
        }
        .warning{
            color: #fd5a5c;
        }
        .data-table th,
        .data-table td{
            text-align: center;
            margin: 0.5em  1em;
        }

        .data-table th{
            display: none;
        }
        .data-table td{
            display: block;
        }
        .data-table td:first-child{
            padding-top: .5em;
        }
        .data-table td:last-child{
            padding: 0.5rem;
        }
        .data-table td::before{
            content: attr(data-th) ": ";
            font-weight: bold;
            width: 6.5em;
            display: inline-block;
        }
        .data-table th,
        .data-table td::before{
            color: var(--primary-color);
        }
        body.dark .data-table th,
        .data-table td::before{
            color: #695CFE;
        }

        @media (min-width:922px){
            .data-table td::before{
                display: none;
            }
            .data-table th,
            .data-table td{
                display: table-cell;
                padding: 0.25em 0.5em;
                padding: 1em !important;
            }
            .data-table th:first-child,
            .data-tabletd td:first-child{
                padding-left: 0;
            }
            .data-table th:last-child,
            .data-table td:last-child{
                padding-right: 0;
            }
        }
        @media (max-width:1110px){
            .table{
                 /* background:none; */
                min-width: calc(100% - 200px);
                width: 100%;
            }
        }
        @media (max-width:450px){
            .table{
                 background: none;
            }
        }
        .student-name{
            float: right;
            color: var(--primary-color);
            font-family: "Poppins",sans-serif;
        }
        body.dark .student-name{
            color: #695CFE;
        }
    </style>
</head>
<body>
    <%-include ("./partials/nav") %>   
    <section class="home">
        <div class="text">Dashboard <span class="student-name">Hello, <%= nameofstudent %> </span></div>
    </section>
    <div class="dashboard">
        <div class="box-detail">
            <div class="box">
                <ion-icon name="checkmark-outline" class="Approve"></ion-icon>
                <span class="text">Approved <br><span class="number">10</span></span>
            </div>
            <div class="box">
                <ion-icon name="information-outline" class="Pending"></ion-icon>
                <span class="text">Pending <br><span class="number">10</span></span>
            </div>
            <div class="box">
                <ion-icon name="trash-outline" class="Reject"></ion-icon>
                <span class="text">Rejected <br><span class="number">10</span></span>
            </div>
            <div class="box">
                <ion-icon name="cloud-upload-outline" class="Total"></ion-icon>
                <span class="text">Total <br><span class="totalnumber">10</span></span>
            </div>
        </div>
        <div class="table">
                <table class="data-table">
                   <thead>
                    <tr>
                        <th>No</th>
                        <!-- <th>PRN</th> -->
                        <th>Reason</th>
                        <th>Out Time</th>
                        <th>In Time</th>
                        <th>Date</th>
                        <th>Status</th>
                      </tr>
                   </thead>
                   <tbody>
                    <% for(let i = 0;i < find.length ;i++){ %>
                        <% if(find.Name == nameofstudent) { %>
                            <tr>
                                <td><%= i+1 %></td>
                                <td><%= find[i].Reason %></td>
                                <td><%= find[i].outtime %></td>
                                <td><%= find[i].intime %></td>
                                <td><%= find[i].createdAt %></td>
                                <td><%= find[i].finalstatus %></td>
                            </tr>
                        <% } %>
                        <% } %>
                </tbody>
                </table>
            </div>
       
    </div>
</body>
</html>